@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
}

body {
	@apply bg-background text-foreground;
}
