@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
	--beige-100: #f8f4f0;
	--beige-500: #98908b;
	--grey-100: #f2f2f2;
	--grey-300: #b3b3b3;
	--grey-500: #696868;
	--grey-900: #201f24;
	--green: #277c78;
	--yellow: #f2cdac;
	--cyan: #82c9d7;
	--navy: #626070;
	--red: #c94736;
	--purple: #826cb0;
}

@theme inline {
	--color-beige-100: var(--beige-100);
	--color-beige-500: var(--beige-500);
	--color-grey-100: var(--grey-100);
	--color-grey-300: var(--grey-300);
	--color-grey-500: var(--grey-500);
	--color-grey-900: var(--grey-900);
	--color-green: var(--green);
	--color-yellow: var(--yellow);
	--color-cyan: var(--cyan);
	--color-navy: var(--navy);
	--color-red: var(--red);
	--color-purple: var(--purple);
	--spacing-50: 0.25rem;
	--spacing-100: 0.5rem;
	--spacing-150: 0.75rem;
	--spacing-200: 1rem;
	--spacing-250: 1.25rem;
	--spacing-300: 1.5rem;
	--spacing-400: 2rem;
	--spacing-500: 2.5rem;
	--radius-50: 0.25rem;
	--radius-100: 0.5rem;
	--radius-150: 0.75rem;
	--radius-200: 1rem;
	--radius-250: 1.25rem;
	--radius-300: 1.5rem;
	--radius-400: 2rem;
	--radius-500: 2.5rem;
}

body {
	@apply bg-beige-100;
	font-family: var(--font-public-sans);
}
